html
{ height: 100%;}

*
{ margin: 0;}

body
{ font: normal 90% 'RobotoDraft', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
  height: 100%;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

p
{ padding: 0 0 10px 0;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'RobotoDraft', sans-serif;
  color: #000;
  padding: 0 0 10px 0;}

h2
{
  font: normal 165% 'RobotoDraft', sans-serif;
  padding: 30px 0 15px 0;
}

h3
{ font: normal 130% 'RobotoDraft', sans-serif;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% 'RobotoDraft', sans-serif;
  color: #FFF;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% 'RobotoDraft', sans-serif;
  color: #888;
  padding-bottom: 15px;}
  
span
{ color: #B1521A;
  text-shadow: none;}

a, a:hover
{ color: #000;
  background: transparent;
  font-weight: 400;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 0;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, header, #banner, #menubar, #site_content, footer, #content_grey, nav, #slideshow_container
{ margin-left: auto; 
  margin-right: auto;}

.main-content {
  background-image: url("/images/old-paper.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header
{
  display: inline-block;
  width: 100%;
  position: fixed;
  z-index: 100;
}
 
nav
{
  height: 60px;
  width: 65%;
  float: right;
  margin-top: 10px;
}  
  
#strapline
{
  width: 35%;
  text-align: center; 
  margin: 0 auto;
  float: left;
} 
  
#title_plus_logo
{ 
  height: 70px;
  margin: 0 auto;
  display: inline-block;
  padding-left: 10%;
}    
  
#title_plus_logo H2
{
  font-family: 'RobotoDraft', sans-serif;
  font-size: 180%;
  color: #FFF;
  padding-top: 30px;
  border-bottom: 2px solid #fff;
  text-shadow: 1px 1px 1px #444;
}

#title_plus_logo H4
{
  font-family: 'RobotoDraft', sans-serif;
  color: #FFF;
  text-align: right;
  font-size: 120%;
  padding-top: 10px;
  text-shadow: 1px 1px 1px #444;
}

#menubar
{
  padding-top: 10px;
  text-align: center; 
  margin: 0 auto;
  float: right;
  border-bottom: 1px solid #fff;
}    
  
ul#nav
{ margin:0;}

ul#nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#nav li a
{ float: left;
  font: 120% sans-serif;
  height: 24px;
  margin: 8px 0 0 0;
  text-shadow: 1px 1px 1px #444;
  padding: 5px 20px 5px 20px;
  background: transparent; 
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
}
  
ul#nav li.current a, ul#nav li:hover a
{
  color: #82FFFF;
  border-bottom: 2px solid #82FFFF;
}

.top-image {
  width: 100%;
  height: 450px;
  background-image: url("/images/ayurveda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#slideshow_container
{ height: 550px;
}
  
.slideshow
{ width: 100%;
  height: 100%;
  margin: 0 auto;}  
  
/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 100%;
  overflow: hidden;
  position: relative;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 50;}
 
ul img {
  border: none;}

.slideshow_image {
  width: 100%;
  height: auto;
}

#slideshow-caption {
  width: 100%;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 50;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: -moz-linear-gradient(rgba(53, 53, 53, 0), rgba(0, 0, 0, 0.5));
  background: -o-linear-gradient(rgba(53, 53, 53, 0), rgba(0, 0, 0, 0.5));
  background: -webkit-linear-gradient(rgba(53, 53, 53, 0), rgba(0, 0, 0, 0.5));
  z-index: 90;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px #000;
}  

#site_content
{
  width: 940px;
  overflow: hidden;
  padding-top: 30px;
} 

.sidebar_container
{ float: right;
  margin: 20px 0 0 10px;
  width: 240px;
}

.sidebar
{ float: left;
  width: 240px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 240px;}

#content
{ width: 680px;
  margin: 0 0 20px 0;
  float: left;}

.content_item
{ width: 680px;
  margin-top: 20px;
  margin-bottom: 20px;}
  
.content_container
{ width: 330px;
  margin: 20px 10px 0 0;
  float: left;}

.divider
{
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}

footer
{ width: 940px;
  height: 50px;
  padding-top: 25px;
  padding-bottom: 50px;  
  font-weight: bold;
  text-align: center; 
}

footer a, footer a:hover
{
  text-decoration: none;
  padding-bottom: 20px;
}

footer a:hover
{ text-decoration: underline;}

footer a, footer a:hover
{
  text-decoration: none;
}

footer a:hover
{ text-decoration: underline;}
  
 .readmore a
{ color: #FFF;
  text-shadow: 1px 1px #004C8C;}
 
 .button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  float: left;
  height: 15px;
  padding: 5px 10px 7px 8px;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
.button_small a
{ color: #FFF;
  padding-left: 5px;
  text-shadow: 1px 1px #000;}

.form_settings {
  margin: 15px 0 0 0;
}

.form_settings p {
  padding: 0 0 4px 0;
}

.form_settings span
{ float: left; 
  width: 25%; 
  text-align: left;
  text-shadow: none;
  color: #000;}
  
input, textarea
{ padding: 2px; 
  width: 65%; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% sans-serif; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  color: #FFF;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
}

.error {
  border: 1px solid #f00;
}

.thankYouNote {
  margin: 15px 0 0 0;
}

.panchakarmaItem {
  padding-top: 20px;
}

.panchakarma-img {
  width: 400px;
}

.facilities-img {
  width: 20%;
  display: inline-block;
}

.facilities-item {
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

.facilities-item-container {
  padding: 20px 0;
  border-bottom: 1px solid #e1e1e1;